<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228003668049-ju7d8cgl28uc1a4rn599kcr99409jruk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228003668049-ju7d8cgl28uc1a4rn599kcr99409jruk</string>
	<key>API_KEY</key>
	<string>AIzaSyAroClb33A8uS1P7PgEIGI5oSjWU4RtMok</string>
	<key>GCM_SENDER_ID</key>
	<string>228003668049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>react-native-chat-a247c</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-chat-a247c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228003668049:ios:d5d0385c78a077502cd870</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-chat-a247c.firebaseio.com</string>
</dict>
</plist>